/*
==============================
Footer Style Start 
==============================
*/
.site-footer {
    background: #fcb03d;
    padding: 20px 0;

    .footer-content {
        color: #fff;
        font-size: 18px;

        p {
            margin-bottom: 0;
        }
    }
}

/*
==============================
Footer Style End 
==============================
*/