
$primaryBGColor: #fff;
$secondaryBGColor: "";


$primaryTextColor: #000;
$secondaryTextColor: "";


$primaryFontFamily: 'Roboto',
sans-serif;
$secondaryFontFamily: "";



$primaryLinkColor: #333;
$secondaryLinkColor: #333;